<div class="mx-auto md:w-2/3 w-full">
  <h1 class="text-primary font-bold text-4xl mb-8">Modifier cet utilisateur</h1>

  <%= render "form", user: @user %>

  <div class="flex flex-wrap gap-2 mt-2">
    <%= link_to "Voir", @user, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Annuler", users_path, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
