<div>
  <h1 class="text-4xl text-primary font-bold">Assistant TALEA (Bêta)</h1>
  <p class="text-lg mt-4 mb-8">Bienvenue dans l'assistant TALEA. Cet assistant vous permet de visualiser les prochaines interventions à planifier (d'après l'IA).</p>
  <%= simple_format(@results) %>
</div>
