/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

[type=radio]:checked,
[type=radio]:checked:focus,
[type=radio]:checked:hover {
  /* Noir */
  /* background-color: var(--fallback-bc, oklch(var(--bc) / var(--tw-bg-opacity)));; */
  background-color: rgb(250 204 21 / var(--tw-bg-opacity));
}

.btm-nav>:where(.hover-active):hover {
  border-top-width: 2px;
  --tw-bg-opacity: 1;
  background-color: var(--fallback-b1, oklch(var(--b1) / var(--tw-bg-opacity)));
}